
.once_again {
    color: red;
    text-decoration:underline;
}

* {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    padding-left: 1%;
    padding-right: 1%;
}

button {
    padding: 1%;
    margin: .5%;
    font-size: 170%;
    background-color:rgb(216, 186, 255);
    border: none;
    border-radius: 10px;
}

#training{
    
    padding: 2%;
    margin: 2%;
    border-left: 30px solid rgb(213, 233, 255) !important;
    border-right: 30px solid rgb(213, 233, 255) !important;
    background-image:linear-gradient(to right, rgb(229, 250, 255), rgb(195, 195, 255), rgb(164, 177, 255));
    border-radius: 5px;
}

.right {
    
    padding: 2%;
    margin: 2%;
    border-left: 30px solid rgb(103, 255, 128)!important;
    border-right: 30px solid rgb(103, 255, 128) !important;
    background-image:linear-gradient(to right, rgb(169, 255, 143), rgb(147, 255, 210), rgb(237, 255, 172));
    border-radius: 5px;
}

.wrong {
    min-height: 25vh;
    padding: 2%;
    margin: 2%;
    border-left: 30px solid rgb(255, 69, 69) !important;
    border-right: 30px solid rgb(255, 69, 69) !important;
    background-image:linear-gradient(to right, rgb(255, 184, 184), rgb(255, 186, 186), rgb(255, 212, 193));
    border-radius: 5px;
}


th, td {
    padding: 2%;
    margin: 2%;
    border: 6px solid rgb(214, 221, 255);
    text-align: center;
    font-size: 120%;   
}

table {
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#punkte {
    padding: 1%;
    text-align: right;
}

header, footer {
    padding-top: 1%;
    text-align: center;
}

textarea {
    width: 50%;
    font-size: 170%;
}
